@model IEnumerable<HotelOrderFinal.Models.Activity>

@{
    ViewData["Title"] = "ActivityByCreate";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">後台管理系統</h2>
        </div>
    </div>
</section>

<h1>活動管理</h1>
<p>
    @using (Html.BeginForm())
    {
        @:關鍵字 @Html.TextBox("txtKeyword") <input type="submit" value="查詢">
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                序
                @*@Html.DisplayNameFor(Model => Model.ActivityId)*@
            </th>
            <th>
                活動名稱
                @*@Html.DisplayNameFor(model => model.ActivityName)*@
            </th>
            <th>
                活動照片
                @*@Html.DisplayNameFor(model => model.ActivityImage)*@
            </th>
            <th>
                活動詳細
                @*@Html.DisplayNameFor(model => model.ActivityDirections)*@
            </th>
            <th>
                活動時間
                @*@Html.DisplayNameFor(model => model.ActivityTime)*@
            </th>
            <th>
                活動地點
                @*@Html.DisplayNameFor(model => model.ActivityPlace)*@
            </th>
            <th>
                活動人數
                @*@Html.DisplayNameFor(model => model.ActivityPeople)*@
            </th>
            <th>
                活動費用
                @*@Html.DisplayNameFor(model => model.ActivityCost)*@
            </th>
            <th>
                <a asp-action="Create" class="btn btn-info">新增活動</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
@foreach (var item in Model) {            
            count++;
            <tr>  
           <td>
               @count
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
             <img src="~/image/@item.ActivityImage" width="160" height="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDirections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityCost)
            </td>           
                <td>
                        @Html.ActionLink("修改", "Edit", new {id=item.ActivityId},new { @class="btn btn-success" }) |
                        @Html.ActionLink("刪除", "Delete","Activity", new {  id=item.ActivityId },new { @class="btn btn-danger", onclick="return confirm('確定要刪除嗎?')"})                                               
                </td>      
        </tr>
}
        }
    </tbody>
</table>
