@model HotelOrderFinal.Models.Activity
@{
    ViewData["Title"] = "ActivityByDetails";
}

<head>

    <style>
        .toast-container {
            z-index: 10000; /* 确保Toast显示在最上层 */
        }
        .toast {
            width: 300px;
            background-color: #f8f9fa;
        }
        .toast-success {
            border-color: #28a745;
        }

        .toast-error {
            border-color: #dc3545;
        }
    </style>
</head>
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        @*<div class="page-cover text-center">
        <h2 class="page-cover-tittle">About Us</h2>
        <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About</li>
        </ol>
        </div>*@
    </div>
</section>


<h1 class="text-center">活動詳細資訊</h1>
<br />


<div class="d-flex justify-content-center align-items-center" style="background-color:#dcebfd">

    <div class="page-cover text-center">
        <div class="d-flex flex-wrap">
            <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3"></div>
            <div class="text-black about_content" style="width: 50rem;">
                <img class="card-img" src="~/image/@Model.ActivityImage" width="300" height="400" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => Model.ActivityName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => Model.ActivityDirections)</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">地址：@Html.DisplayFor(modelItem => Model.ActivityPlace)</li>
                    <li class="list-group-item">時間：@Html.DisplayFor(modelItem => Model.ActivityTime)</li>
                    <li class="list-group-item">費用：@Html.DisplayFor(modelItem => Model.ActivityCost)</li>
                    <li class="list-group-item">限制人數：@Html.DisplayFor(modelItem => Model.ActivityPeople)</li>
                </ul>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">參加活動確認單</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">                                
                                    注意事項                                    
                                    <p>請確認活動地址：</p>                                    
                                    <p>活動地點是否與您住宿地區相近，若區域不同將不額外補償</p>
                                    <p>請確認活動時間：</p>
                                    <p>活動時間是否與您住宿日期相符合，若不相同將不負責損失</p>
                                    <p>請確認活動費用及人數：</p>
                                    <p>請確認您參加的人數，並且確認是否有超過人數上限</p>                                                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="setSessionByActivity(@Model.ActivityId)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">參加活動</button>                                                                
                                <a href="@Url.Action("Detail", "Order", new { activityId = Model.ActivityId })"></a>                                
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <button type="button" id="Activitybutton" onclick="setSessionByActivity(@Model.ActivityId)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">參加活動</button>
                    <a href="@Url.Action("Detail", "Order", new { activityId = Model.ActivityId })"></a>
                    
                    @*<a href="@Url.Action("Detail", "Order", new { activityId = Model.ActivityId })">
                        <button type="button" id="Activitybutton" onclick="setSessionByActivity(@Model.ActivityId)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">參加活動</button>
                    </a>*@
                    <button type="button" onclick="window.history.back();" class="btn btn-secondary" nclick="setSessionByActivity(@Model.ActivityId)">回上一層</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    @*async function setSessionByActivity(acId) {
        var url = '@Url.Action("setSessionByActivity","Activity")?id=' + acId;
        await fetch(url, {
            method: 'POST'
        });
    }*@

        $('#Activitybutton').click(function (event) {           
        if{
            // 檢查使用者是否已登入
            checkUserLoginStatus(function (loggedIn) {
                if (loggedIn) {
                    // 已登入，跳轉到訂單詳細頁面
                    window.location.href = "/Order/Detail";
                } else {
                    // 未登入，顯示登入會員的 modal
                    $('#myAccountModal').modal('show');
                }
            });
        }
    });
</script>