@model IEnumerable<HotelOrderFinal.Models.Activity>

@{
    ViewData["Title"] = "List";
}
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">About Us</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
</section>

<head>
    <title>分欄網頁</title>
@*    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="background-color: #f2f2f2;">
                <h2>左欄內容</h2>
                <p>
                    <a asp-action="Create">前往訂房</a>
                </p>
            </div>
            <div class="col-md-8">
                <h2>活動一覽表</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                序
                            </th>
                            <th>
                                活動名稱
                            </th>                           
                            <th>
                                活動描述
                            </th>
                            <th>
                                活動時間
                            </th>
                            <th>
                                活動地點
                            </th>
                            <th>
                                活動人數上限
                            </th>
                            <th>
                                報名費用
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        <img src="~/image/@item.ActivityImage" width="320" height="240" />
                                        <br>
                                        <span class> @Html.DisplayFor(modelItem => item.ActivityName)</span>
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActivityDirections)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActivityTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActivityPlace)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActivityPeople)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActivityCost)
                                    </td>
                                    <td>
                                        @Html.ActionLink("修改", "Edit", new {  id=item.ActivityId  }) |
                                        @Html.ActionLink("刪除", "Delete","Customer", new {  id=item.ActivityId },new {onclick="return confirm('確定刪除嗎?')"})
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>






