@model HotelOrderFinal.Models.RoomMember

@{
    ViewData["Title"] = "會員資料修改";
}
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        @*  <div class="page-cover text-center">
        <h2 class="page-cover-tittle">About Us</h2>
        <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About</li>
        </ol>
        </div>*@
    </div>
</section>
<style>
    .wrapper {
        width: 80%; /* 設定容器寬度 */
        margin: 0 auto; /* 將容器置中對齊 */
    }

</style>
<div class="wrapper ">

    <h1>會員資料修改</h1>
    <hr />
    <div class="row">
        @*//【側邊欄位】==========================================================================*@
        <div class="col-xs-12 col-md-3">
            <div class="athMember__menu pb-sm-3">
                <div class="athMember__user pb-20">
                    <div class="athMember__userInfo">
                        @{
                            var userName = Context.Session.GetString("UserName");
                            var userId = Context.Session.GetString("UserID");
                            var usePhone = Context.Session.GetString("UserPhone");
                        }
                        <h2 class="athMember__userName">@userName</h2>
                        @*<p class="athMember__usePhone">@usePhone</p>*@
                    </div>
                </div>
                <div class="athMemberNav">
                    <ul class="athMember__menuList d-mdx-none pb-15 mt-10" style="list-style: none;">
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("修改資料", "Edit", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("修改密碼", "EditPassword", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("您的訂單", "ShoppingCar", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("優惠折扣", "DiscountByMember", "Discount", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("您的評論", "ListByMember", "Comment", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        @*<li class="athMember__menu__isactive" hidden>*@
                        @*@Html.ActionLink("最新消息", "News", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })*@
                        @*</li>*@
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("會員條款", "terms", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        @*<li class="athMember__menu__isactive" hidden>*@
                        @*@Html.ActionLink("電子會員卡", "MemberCard", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })*@
                        @*</li>*@

                    </ul>
                    <div class="d-md-none">
                        <p class="athMember__menu__select mt-20 mb-10">會員資料選單</p>
                        <div class="athMember__menuList form-group athSelect w-100">
                            <select class="form-control">
                                <option value="memberEdit">修改資料</option>
                                <option value="passwordEdit">修改密碼</option>
                                <option value="getOrderQueryMn">您的訂單</option>
                                <option value="getNews">最新消息</option>
                                <option value="memberRule">會員條款</option>
                                <option value="memberBenefit">會員福利</option> <!----> <!---->
                                <option value="memberCard">電子會員卡</option> <!----> <!---->
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*///-----------------------------------------------------------------------------------------*@
        <div class="col-md-4">
            <form asp-controller="Member" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*設定隱藏display: none*@
                <div class="form-group" style="display: none;>  
                    <label asp-for="AdminId" class="control-label"></label>
                    <input asp-for="AdminId" class="form-control" />
                    <span asp-validation-for="AdminId" class="text-danger"></span>
                </div>
                @*設定隱藏display: none*@
                <div class="form-group" style="display: none;>
                    <label asp-for="MemberId" class="control-label"></label>
                    <input asp-for="MemberId" class="form-control" />
                    <span asp-validation-for="MemberId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemberName" class="control-label"></label>
                    <input asp-for="MemberName" class="form-control" />
                    <span asp-validation-for="MemberName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemberBirthday" class="control-label"></label>
                    <input asp-for="MemberBirthday" class="form-control" type="date" />
                    <span asp-validation-for="MemberBirthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemberGender" class="control-label"></label>
                    <input asp-for="MemberGender" class="form-control" />
                    <span asp-validation-for="MemberGender" class="text-danger"></span>
                </div>
                @*            <div class="form-group">
                <label asp-for="MemberIdentity" class="control-label"></label>
                <input asp-for="MemberIdentity" class="form-control" />
                <span asp-validation-for="MemberIdentity" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="MemberPhone" class="control-label"></label>

                    <input asp-for="MemberPhone" class="form-control" disabled />

                    <span asp-validation-for="MemberPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemberEmail" class="control-label"></label>
                    <input asp-for="MemberEmail" class="form-control" />
                    <span asp-validation-for="MemberEmail" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="MemberPhoto" class="control-label" style="display: none;></label>

                    <input asp-for="MemberPhoto" class="form-control" />
                    <span asp-validation-for="MemberPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="MemberPassword" class="control-label" style="display: none;></label>

                    <input asp-for="MemberPassword" class="form-control" />
                    <span asp-validation-for="MemberPassword" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="MemberLavel" class="control-label" style="display: none;></label>

                    <input asp-for="MemberLavel" class="form-control" />
                    <span asp-validation-for="MemberLavel" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="MemberOrderTotal" class="control-label" style="display: none;></label>

                    <input asp-for="MemberOrderTotal" class="form-control" />
                    <span asp-validation-for="MemberOrderTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="存檔" class="btn btn-primary" name="id" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>