@{
    ViewData["Title"] = "terms";
}

<section class="breadcrumb_area">
	<div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
	<div class="container">
		@*  <div class="page-cover text-center">
		<h2 class="page-cover-tittle">About Us</h2>
		<ol class="breadcrumb">
		<li><a href="index.html">Home</a></li>
		<li class="active">About</li>
		</ol>
		</div>*@
	</div>
</section>
<style>
	.wrapper {
		width: 80%; /* 設定容器寬度 */
		margin: 0 auto; /* 將容器置中對齊 */
	}

</style>
<div class="wrapper ">

	<h1>會員訂房條款</h1>
	<hr />
	<div class="row">
		@*//【側邊欄位】==========================================================================*@
		<div class="col-xs-12 col-md-3">
			<div class="athMember__menu pb-sm-3">
				<div class="athMember__user pb-20">
					<div class="athMember__userInfo">
						@{
							var userName = Context.Session.GetString("UserName");
							var userId = Context.Session.GetString("UserID");
							var usePhone = Context.Session.GetString("UserPhone");
						}
						<h2 class="athMember__userName">@userName</h2>
						@*<p class="athMember__usePhone">@usePhone</p>*@
					</div>
				</div>
				<div class="athMemberNav">
					<ul class="athMember__menuList d-mdx-none pb-15 mt-10" style="list-style: none;">
						<li class="athMember__menu__isactive">
							@Html.ActionLink("修改資料", "Edit", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
						</li>
						<li class="athMember__menu__isactive">
							@Html.ActionLink("修改密碼", "EditPassword", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
						</li>
						<li class="athMember__menu__isactive">
							@Html.ActionLink("您的訂單", "ShoppingCar", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
						</li>
						<li class="athMember__menu__isactive">
							@Html.ActionLink("優惠折扣", "DiscountByMember", "Discount", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
						</li>
						<li class="athMember__menu__isactive">
							@Html.ActionLink("您的評論", "ListByMember", "Comment", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
						</li>
						@*<li class="athMember__menu__isactive" hidden>*@
						@*@Html.ActionLink("最新消息", "News", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })*@
						@*</li>*@
						<li class="athMember__menu__isactive">
							@Html.ActionLink("會員條款", "terms", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
						</li>
						@*<li class="athMember__menu__isactive" hidden>*@
						@*@Html.ActionLink("電子會員卡", "MemberCard", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })*@
						@*</li>*@

					</ul>
					<div class="d-md-none">
						<p class="athMember__menu__select mt-20 mb-10">會員資料選單</p>
						<div class="athMember__menuList form-group athSelect w-100">
							<select class="form-control">
								<option value="memberEdit">修改資料</option>
								<option value="passwordEdit">修改密碼</option>
								<option value="getOrderQueryMn">您的訂單</option>
								<option value="getNews">最新消息</option>
								<option value="memberRule">會員條款</option>
								<option value="memberBenefit">會員福利</option> <!----> <!---->
								<option value="memberCard">電子會員卡</option> <!----> <!---->
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		@*///-----------------------------------------------------------------------------------------*@

		<div class="col-xs-12 col-md-9">
		<div class="con_agree">

			<div class="box_txt">
				<h2>第1條（適用範圍）</h2>

				<div>
					<ul>
						<li>本飯店與客人之間所簽訂的住宿契約（包含於白天使用客房進行遠距辦公等，同樣適用以下本條款）及其相關契約，以本條款規定之事項為準，本條款中之未定事項，則以法令或一般慣例為準。</li>
						<li>除了本飯店所定之客房內設置的飯店設施使用規範以外，若本飯店有向客人提出與住宿契約相關之使用介紹或各種注意事項等（以下統稱「使用規範等」）時，則該使用規範等也屬於本條款之一部分。</li>
						<li>當本飯店接受不違反法令與慣例範圍之特別契約時，即使有前項之規定，仍以該特別契約為優先。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第2條（住宿契約之預訂）</h2>

				<div>
					<ul>
						<li>
							欲向本飯店預訂住宿契約之客人，請向本飯店出示以下事項。
							<ol>
								<li>住宿者姓名、電話</li>
								<li>住宿日及預計到達時間</li>
								<li>住宿費用（原則上為附表1之基本住宿費）</li>
								<li>其他本飯店認定需要之事項</li>
							</ol>
						</li>
						<li>當住宿中之客人於前項第2號的住宿日超過後預訂繼續住宿時，於提出時即視為預訂新的住宿契約。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第3條（住宿契約之成立等）</h2>

				<div>
					<ul>
						<li>住宿契約需在本飯店允諾前條之預訂後成立。但若本飯店證明未曾允諾時，則不在此限。</li>
						<li>於前項之規定下住宿契約成立時，請於本飯店指定日前支付本飯店規定之訂金。</li>
						<li>訂金將先作為客人最後所應支付的住宿費使用，但若發生符合第6條及第21條規定之狀況時，將依違約金、賠償金之順序使用，如有剩餘，則依第13條之規定於支付費用時歸還。</li>
						<li>若未將第2項中之訂金依該項的規定於本飯店指定日前支付時，住宿契約將失效。但僅限於有指定訂金的支付日期，且本飯店有告知客人時。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第4條（無須支付訂金之特別契約）</h2>

				<div>
					<ul>
						<li>即使有前條第2項之規定，本飯店亦有可能於契約成立後接受無須支付該項訂金之特別契約。</li>
						<li>當本飯店於允諾住宿契約之預訂時沒有要求支付前條第2項的訂金，以及沒有指定該訂金之支付日期時，即視為接受前項之特別契約。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第5條（拒絕住宿契約之簽訂）</h2>

				<div>
					<p>本飯店於以下情況有可能無法接受住宿契約之簽訂。</p>

					<ol>
						<li>未依照本條款預訂住宿時。</li>
						<li>客滿無空房時。</li>
						<li>認定欲住宿者於住宿時可能會有違反法令規定、公共秩序或善良風俗之行為時。</li>
						<li>認定欲住宿者符合以下三項時。<br>一　符合防止暴力集團成員不當行為等相關法律（1991年法律第77號）第2條第2號所規定之暴力集團（以下稱「暴力集團」）、同條第2條第6號所規定之暴力集團成員（以下稱「暴力集團成員」）、暴力集團準成員或暴力集團相關人士等反社會勢力<br>二　屬於暴力集團或由暴力集團成員控管事業活動的法人等團體時<br>三　法人之董事中有符合暴力集團成員者</li>
						<li>欲住宿者有明顯造成其他住宿者困擾之言行舉止時。</li>
						<li>欲住宿者明顯確定罹患傳染病時。</li>
						<li>認定欲住宿者對本飯店或本飯店員工進行暴力、威脅、恐嚇、威逼之不當要求，或要求超出合理範圍之負擔時，或過去曾進行同樣行為時。</li>
						<li>因天災、設施故障或其他不得已之事由而無法提供住宿時。</li>
						<li>因欲住宿者爛醉或言行舉止明顯異常而認定有可能造成其他住宿者困擾時，或言行舉止明顯造成其他住宿者困擾時，以及符合都道府縣條例規定時。</li>
						<li>因欲住宿者之身體或穿著明顯髒汙而認定有可能造成其他住宿者困擾時。</li>
						<li>欲住宿者於預訂時隱瞞其打算於預約的房間或本飯店內「進行物品販售等」圖謀自己或第三者利益之目的時。</li>
						<li>欲住宿者未遵守本條款之規定時，或未遵守預約時之取消規定、支付規定時。</li>
					</ol>
				</div>
			</div>
			<div class="box_txt">
				<h2>第6條（客人之契約解除權）</h2>

				<div>
					<ul>
						<li>客人向本飯店預訂後可解除住宿契約。</li>
						<li>本飯店因可歸咎於客人之事由而解除全部或一部分住宿契約時（依第3條第2項之規定，本飯店指定訂金支付日期並要求支付時，客人於該支付前解除住宿契約時除外），將依附表2收取違約金。但若本飯店接受第4條第1項的特別契約時，則僅限於接受該特別契約時，本飯店有告知客人解除住宿契約時的違約金支付義務時。</li>
						<li>當客人於住宿當天晚上10點（如有事先告知預計到達時間，則為該時間的2小時後）仍未到達且無事先聯絡時，本飯店將視為客人解除該住宿契約來處理。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第7條（本飯店之契約解除權）</h2>

				<div>
					<ul>
						<li>
							本飯店於以下情況有可能會解除住宿契約。
							<ol>
								<li>認定客人於住宿時可能會有違反法令規定、公共秩序或善良風俗之行為時，或認定過去曾有同樣行為時。</li>
								<li>認定客人符合以下三項時。<br>一　暴力集團、暴力集團成員、暴力集團準成員或暴力集團相關人士等反社會勢力<br>二　屬於暴力集團或由暴力集團成員控管事業活動的法人等團體時<br>三　法人之董事中有符合暴力集團成員者</li>
								<li>客人有明顯造成其他住宿者困擾之言行舉止時。</li>
								<li>客人明顯確定罹患傳染病時。</li>
								<li>認定客人對本飯店或本飯店員工進行暴力、威脅、恐嚇、威逼之不當要求，或要求超出合理範圍之負擔時，或過去曾進行同樣行為時。</li>
								<li>因天災等不可抗力之事由導致無法提供住宿時。</li>
								<li>因住宿之客人爛醉或言行舉止明顯異常而被認定有可能造成其他住宿者困擾時，或言行舉止明顯造成其他住宿者困擾時，以及符合其他都道府縣條例規定時。</li>
								<li>於寢室床上吸菸、玩弄消防設備等，或其他不遵循本飯店規定之飯店設施使用規範禁止事項（僅限於預防火災之必要事項）時。</li>
								<li>欲住宿者於預訂時隱瞞其打算於預約的房間或本飯店內「進行物品販售等」圖謀自己或第三者利益之目的時。</li>
								<li>欲住宿者未遵循第10條規定之飯店設施使用規範時，以及進行第11條規定之禁止事項時，或未遵守其他本條款之規定時，或未遵守預約時之取消規定、支付規定時。</li>
							</ol>
						</li>
						<li>本飯店依前項之規定解除住宿契約時，不收取客人尚未接受的住宿服務等費用。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第8條（住宿之登記）</h2>

				<div>
					<ul>
						<li>
							客人請於住宿日當日，洽本飯店接待櫃台登記以下事項。
							<ol>
								<li>客人之姓名、年齡、性別、地址、連絡電話及職業　</li>
								<li>出發日及預計出發時間</li>
								<li>其他本飯店認定必要之事項</li>
							</ol>
						</li>
						<li>不居住於日本之外國客人，除了前項之登記以外，也會需要登記國籍、護照號碼、入境地及入境年月日，並同時請您透過掃描等提供護照影本，敬請見諒。</li>
						<li>客人若欲以旅行支票、住宿券、信用卡等替代貨幣的方式支付第13條費用時，請於前項登記時事先出示。再者，若本飯店有事先告知無法接受貨幣支付時，則無法以貨幣支付。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第9條（客房之使用時間）</h2>

				<div>
					<ul>
						<li>客人可使用本飯店客房之時間為下午3點至隔日早上11點。但連續住宿時，除了到達日與出發日以外，全天皆可使用。</li>
						<li>
							即使有前項之規定，本飯店亦可能會接受於前項規定外的時間使用客房。此時，將收取以下追加費用。
							<ol>
								<li>至下午2點前，每房每小時1,000日圓</li>
								<li>下午2點後，客房全額收費</li>
							</ol>
						</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第10條（飯店設施使用規範等之遵守）</h2>

				<div>
					<p>客人於本飯店內請遵循本條款及使用規範等。</p>
				</div>
			</div>
			<div class="box_txt">
				<h2>第11條（禁止行為）</h2>

				<div>
					<ul>
						<li>
							客人切勿自行或利用第三者進行以下行為。
							<ol>
								<li>使用本飯店時，登記或提供不實資訊之行為</li>
								<li>非法使用信用卡等結帳手段來使用本飯店之行為</li>
								<li>非法取得第三者個人資訊或相鐵飯店會員優惠等，或非法使用之行為</li>
								<li>未經本飯店許可，以營利為目的使用本飯店之行為</li>
								<li>大量預約住宿後取消之行為，或與其類似之行為</li>
								<li>重複進行預約住宿後無正當理由取消之行為，或與其類似之行為</li>
								<li>冒充本飯店或本飯店集團之行為，或會導致誤解為該行為之行為</li>
								<li>非法登入系統等電腦之行為，或與其類似之行為</li>
								<li>發送或灌入有害電腦程式等之行為，或與其類似之行為</li>
								<li>撤除、汙損、破壞住宿設施內備品之行為，或與其類似之行為</li>
								<li>對本飯店或工作人員進行超出一般社會認知所允許之要求、誹謗、中傷、恐嚇，以及意圖引發負面話題之SNS投稿等惡意騷擾等，導致妨礙本飯店營運或損及本飯店或本飯店集團信用與品牌之行為，或與其類似之行為</li>
								<li>對本飯店或工作人員進行暴力、威脅、恐嚇等威逼之不當要求行為</li>
								<li>造成其他住宿者等第三者、本飯店或本飯店集團困擾、損害或損失之行為，或有可能造成之行為</li>
								<li>侵害其他住宿者等第三者、本飯店或本飯店集團之著作權、商標權等智慧財產權、隱私、人格權等權利之行為，或有可能侵害之行為</li>
								<li>違反公共秩序、善良風俗之行為、犯罪行為、違反法令之行為，或有可能違反之行為</li>
								<li>誇耀暴力集團等之勢力，或對其支援、助長之行為</li>
								<li>違反本條款等其他條項之行為</li>
								<li>其他違反設施使用規範等規定之行為</li>
								<li>其他本飯店判定為不適當之行為</li>
							</ol>
						</li>
						<li>當因前項之行為導致本飯店產生損害時，本飯店可對客人請求損害賠償。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第12條（營業時間）</h2>

				<div>
					<ul>
						<li>
							本飯店之接待櫃台、出納櫃台等主要設施等的營業時間如下所示，其他設施等之詳細營業時間則標示於宣傳手冊、各處之告示、客房內之服務指南等。
							<ol>
								<li>門禁、正面大門　24小時</li>
								<li>接待櫃台　24小時</li>
								<li>出納櫃台　24小時</li>
							</ol>
						</li>
						<li>前項之時間，有可能會於必要或不得已時臨時變更。此時，會以適當方法通知。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第13條（費用之支付）</h2>

				<div>
					<ul>
						<li>客人應支付之住宿費等細項列於附表1。</li>
						<li>客人可以日幣或本飯店認可之旅行支票、住宿券、信用卡等替代方式，於到達時或本飯店提出請求時，於接待櫃台支付前項之住宿費用等。但若本飯店有事先告知無法接受貨幣支付時，則無法以貨幣支付。</li>
						<li>當本飯店可提供客房讓客人使用，但客人任意不住宿時，將收取住宿費用。</li>
						<li>當使用本飯店附早餐／午餐／晚餐，或其他附帶服務之住宿方案時，若該方案無任何規定時，客人不用餐或不使用附帶服務仍會收取該部分之金額。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第14條（本飯店之責任）</h2>

				<div>
					<ul>
						<li>本飯店因履行住宿契約及與其相關之契約，或因不履行而對客人造成損害時，將對該損害進行賠償。但若肇因於不可歸責於本飯店之事由時，則不在此限。</li>
						<li>本飯店向客人提供客房之責任，從客人於本飯店接待櫃台進行入住登記開始，直到退房時間到時結束。</li>
						<li>本飯店有旅館賠償責任保險，以因應萬一發生之火災等。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第15條（無法提供契約上之客房時的處理方式）</h2>

				<div>
					<ul>
						<li>當本飯店無法提供客人契約上之客房時，將在取得客人的理解後，儘可能安排其他相同條件之住宿設施。</li>
						<li>即使有前項之規定，當本飯店無法安排其他住宿設施時，將支付客人與違約金相同金額之補償費，並將該補償費作為損害賠償金。但若無法提供客房的原因是不可歸責於本飯店之事由時，則不支付補償費。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第16條（寄放物等之處理方式）</h2>

				<div>
					<ul>
						<li>當客人寄放於接待櫃台之物品或現金及貴重物品發生遺失、損毀等損害時，除了不可抗力之因素以外，本飯店將對該損害進行賠償。但針對現金及貴重物品，當本飯店要求明確告知其種類及價值，而客人未能告知時，本飯店將以最多5萬日圓為限，對該損害進行賠償。</li>
						<li>客人攜帶進入本飯店但未寄放於接待櫃台之物品或現金及貴重物品，若因本飯店之故意或過失而發生遺失、損毀等損害時，本飯店將對該損害進行賠償。但針對客人未事先明確告知種類及價值之物品，除非是本飯店故意或有重大過失，否則本飯店將以最多5萬日圓為限，對該損害進行賠償。</li>
						<li>藝術品、古董或其他容易損壞之物品不接受寄放。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第17條（客人隨身行李或攜帶物品之保管）</h2>

				<div>
					<ul>
						<li>客人的隨身行李於住宿前提早送達本飯店時，本飯店將僅於知悉其到達前負責保管，並於客人至接待櫃台登記入住時轉交。</li>
						<li>客人退房後，若有隨身行李或攜帶物品遺忘在本飯店時，原則上本飯店會等待所有者洽詢本飯店後再徵求其指示。若得不到所有者之指示或無法確定所有者時，貴重物品及有個人資訊之物品會於發現後7日內（包含發現日）送交最近的警察局，其他物品則於發現日的3個月後逕行丟棄。若有警察無法接收之物品時，亦同。但若屬於有損環境衛生之飲料食物，或是香菸、雜誌等，則於當天丟棄。</li>
						<li>關於前兩項中本飯店對於客人隨身行李或攜帶物品之保管責任，第1項依前條第1項之規定，前項則依同條第2項之規定。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第18條（客房之清掃）</h2>

				<div>
					<ul>
						<li>當客人於同一客房連續住宿兩天以上時，將僅針對有提出要求之客人進行該客房之清掃。</li>
						<li>即使客人有提出不需要清掃，為了確保環境衛生，仍會於每4天進行1次清掃。但若本飯店認為有必要時，隨時都可進行客房清掃。此外，除了清掃日以外，也會於客房維護、法令相關檢查以及緊急時進入客房。</li>
						<li>客人不得拒絕前項之客房清掃。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第19條（電腦通訊）</h2>

				<div>
					<ul>
						<li>使用本飯店內之電腦通訊時，需由客人自行負責。可能會因為系統故障等原因導致無預警中斷或結束服務。使用電腦通訊時，因系統故障等原因導致服務中斷，因而造成客人產生任何損害時，本飯店一概不負責任。</li>
						<li>當使用電腦通訊進行本飯店認為不適當之行為導致本飯店及第三者預期會產生損害或已實際產生損害時，將要求終止使用該服務，並會針對所產生之損害要求賠償。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第20條（停車之責任）</h2>

				<div>
					<p>客人使用本飯店之停車場時，不論是否有寄放車輛鑰匙，本飯店僅允諾客人將車輛停放於停車空間，並不負車輛保管之責。但若因本飯店管理停車場時故意或過失而造成損害時，將負起該賠償之責任。</p>
				</div>
			</div>
			<div class="box_txt">
				<h2>第21條（客人之責任）</h2>

				<div>
					<p>客人若是故意或過失造成本飯店損害（意指包括但不限於設施之修繕費用、販售機會之損失等）時，該客人需針對該損害對本飯店進行賠償。</p>
				</div>
			</div>
			<div class="box_txt">
				<h2>第22條（免責事項）</h2>

				<div>
					<p>當符合本飯店於本條款等之外的另行規定或其他使用規範等規定之免責事項時，即可免責。</p>
				</div>
			</div>
			<div class="box_txt">
				<h2>第23條（警察等之通報）</h2>

				<div>
					<ul>
						<li>當客人因違反本條款等或其他使用規範等導致需要保護其他住宿者及本飯店之權利、財產及服務等時，本飯店將採取通報警察等相關機關等之適當措施。</li>
						<li>當本飯店認為已明顯危及客人之健康、生命等時，將有可能在未獲客人同意下緊急送醫。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第24條（本條款等之變更）</h2>

				<div>
					<ul>
						<li>本條款等內容如有修改，將不另行通知，敬請事先見諒。請於官方網站上確認公布之最新資訊。</li>
						<li>針對已變更之本條款等內容，當客人於變更後使用本飯店時，即視為該客人同意變更之內容。</li>
						<li>無論前項之規定為何，於本條款等變更前成立之住宿契約，適用於變更前之規定。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第25條（可分性）</h2>

				<div>
					<ul>
						<li>即使依法令認定本條款等或其他使用規範等之一部分無效，但除了該部分以外，本條款等或其他使用規範等之規定仍屬有效。</li>
						<li>即使本條款等或其他使用規範等之一部分因某位客人的關係而無效或取消，但除了該客人以外，本條款等或其他使用規範等之規定對其他客人仍屬有效。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>第26條（優先語言）</h2>

				<div>
					<p>本條款等或其他使用規範等以日文版為正本。即使有提供客人參考用之翻譯版，但僅有日文版正本才屬於有效之契約，翻譯版並無任何效力。</p>
				</div>
			</div>
			<div class="box_txt">
				<h2>第27條（協商）</h2>

				<div>
					<p>當因使用本飯店而產生本條款等無法解決之問題時，本飯店與客人雙方應秉持誠意協商解決。</p>
				</div>
			</div>
			<div class="box_txt">
				<h2>第28條（準據法及適用法院）</h2>

				<div>
					<ul>
						<li>本飯店與客人之住宿契約以日本法為準據法。</li>
						<li>當本飯店與客人有住宿契約上之爭議（包含法院調停手續）時，雙方同意以東京地方法院或東京簡易法院為第一審管轄法院。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<h2>附表1　住宿費用等之細項（用於第2條第1項及第12條第1項）</h2>

				<div>
					<table class="table_ag">
						<tbody>
							<tr>
								<td class="bg">&nbsp;</td>
								<td align="center" class="bg" colspan="2">細項</td>
							</tr>
							<tr>
								<td rowspan="3">客人應支付之總金額</td>
								<td>住宿費用</td>
								<td>①　基本住宿費（客房費（及客房費＋早餐等餐飲費））</td>
							</tr>
							<tr>
								<td>追加費用</td>
								<td>②　追加餐飲（①所包含項目之外）</td>
							</tr>
							<tr>
								<td>稅金</td>
								<td>一　消費稅<br>二　住宿稅（依各都道府縣條例）<br>三　溫泉稅（僅溫泉區）</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="box_txt">
				<h2>附表2　違約金（用於第6條第2項）…飯店用</h2>

				<div class="box_table">
					<table class="table_ag2">
						<tbody>
							<tr>
								<td class="bg">受理契約解除通知之日</td>
								<td class="bg">未入住</td>
								<td class="bg">當天</td>
								<td class="bg">前天</td>
							</tr>
							<tr>
								<td>違約金之比例</td>
								<td>100%</td>
								<td>80%</td>
								<td>20%</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div>
					<p>備註</p>

					<ul>
						<li>%是違約金相對於基本住宿費之比例。</li>
						<li>若屬於縮短契約日數之情況時，不論縮短之日數為幾日，皆收取一天份（首日）之違約金。</li>
						<li>販售給團體客人（15人以上）之住宿方案，以及於網路等販售之住宿方案，其住宿契約等可能會適用本飯店另行規定之違約金規定。此時，該違約金規定優先於此條款。</li>
					</ul>
				</div>
			</div>
			<div class="box_txt">
				<div>
					<p>＜飯店設施使用規範＞</p>
					為了確保飯店的公共性質，以及使客人能有安全且舒適的住宿（包含於白天使用客房進行遠距辦公等，同樣適用以下規範），請遵守此飯店設施使用規範。若無法遵守此規範，將有可能會婉拒您繼續住宿或使用飯店內設施。此外，當損壞飯店內設備、備品等時，將會請您承擔賠償責任。
				</div>

				<div>
					<p>&nbsp;</p>

					<p>＜禁止事項＞</p>

					<ol>
						<li>若未獲許可，請勿將客房用於住宿以外之目的。</li>
						<li>於客房內、走廊或其他公共場所，請勿使用火取暖或烹飪。</li>
						<li>禁菸房內請勿吸菸。即使是吸菸房，為了防止火災，請勿於床上等容易發生火災之處吸菸。</li>
						<li>與非住宿客人會面等時，請使用大廳。請勿讓非住宿客人進入客房。</li>
						<li>請勿任意移動飯店內及客房內的各種設備、備品等。</li>
						<li>若未獲許可，請勿任意改變或修整飯店內及客房內設備及固定裝置的現狀。</li>
						<li>請勿進入後場、機械室、緊急逃生梯（緊急時除外）、以及其他工作人員專用場所。</li>
						<li>請勿攜帶以下物品進入飯店內。<br>一　狗（身障者的輔助犬除外）、貓、小鳥等所有動物、寵物<br>二　散發惡臭或強烈味道的物品<br>三　超出正常數量的物品<br>四　槍枝、刀械等<br>五　火藥、揮發油等可燃或易燃物品<br>六　其他被認定為會危害其他住宿客人安全的物品</li>
						<li>請勿於飯店內及客房內大聲喧嘩、高歌、進行會產生大震動的行為或喧鬧的行為等，以免造成其他客人的不愉快或困擾。</li>
						<li>請勿於飯店內及客房內賭博或進行違反公共秩序、善良風俗的行為，或其他傷風敗俗、敗壞治安的行為。</li>
						<li>若未獲許可，不得廣告、宣傳物品或進行物品的販售、營利等行為。</li>
						<li>若未獲許可，請勿分發傳單、進行簽名活動、政治活動、宗教活動、舉辦集會，或誇耀團體及組織勢力，或支援、助長此類行為。</li>
						<li>請勿以本飯店認為會造成其他客人不安或困擾的穿著，或以宣傳車、改裝車、以及其他車輛等前來飯店或停車場。</li>
						<li>請勿將攜帶之物品放置於走廊或大廳等。</li>
						<li>嚴格禁止於飯店內及客房內進行會造成客人困擾的拍照或攝影。</li>
						<li>若未獲許可，不得將本飯店內拍攝的相片或影片等以營利之目的公開。</li>
						<li>禁止暴力、傷害、威脅、恐嚇、詐騙、妨害業務、威逼之不當要求以及類似行為。</li>
						<li>請勿進行其他本飯店認為不適當之行為。</li>
					</ol>
				</div>

				<div>
					<p>&nbsp;</p>

					<p>＜應注意事項＞</p>

					<ol>
						<li>若無特別指明，原則上寄放物品的保管期限為寄放日起3個月，經過後即逕行丟棄。</li>
						<li>遺忘物品、拾獲物品的處置，原則上會等待所有者洽詢本飯店後再徵求其指示。若得不到所有者之指示或無法確定所有者時，貴重物品及有個人資訊之物品會於發現後7日內（包含發現日）送交最近的警察局，其他物品則於發現日的3個月後逕行丟棄。但若屬於有損環境衛生之飲料食物，或是香菸、雜誌等，則於當天丟棄。</li>
						<li>以客房內設置之電話撥打外線電話時，須另行支付設施使用費，敬請見諒。</li>
						<li>僅針對有提出要求之客人進行客房清掃。即使客人有提出不需要清掃，為了確保環境衛生，仍會於每4天進行1次清掃。但若本飯店認為有必要時，隨時都可進行客房清掃。此外，除了清掃日以外，也會於客房維護、法令相關檢查以及緊急時進入客房。</li>
						<li>若客人的言行舉止等導致需要保護其他住宿者或本飯店的權利、財產及服務等時，本飯店將採取通知警察相關機關等的適當措施。</li>
						<li>當本飯店認為已明顯危及客人的健康、生命等時，將有可能在未獲客人同意下緊急送醫。</li>
						<li>遺失客房鑰匙，至退房前尚未尋獲者，退房時酌收1000日元補發費。</li>
					</ol>
				</div>

				<div>
					<p>&nbsp;</p>

					<p>＜謝絕使用之對象＞</p>

					<ol>
						<li>如下所述之組織、個人。<br>一　暴力集團、暴力集團成員、暴力集團相關團體及其相關人士<br>二　暴力集團或由暴力集團成員控管事業活動的法人等團體相關人士<br>三　反社會團體、反社會團體成員及其相關人士</li>
						<li>因精神耗弱、藥物等導致無法辨識自己等難以確保自身安全，或可能造成其他客人感到危險、恐怖、不安者</li>
						<li>本飯店針對上述「禁止事項」提出警告卻不肯即刻改正行為者</li>
					</ol>
				</div>
				</div>
				<div style="text-align: right;">以上</div>
			</div>
		</div>
    </div>
	
</div>    
