@model IEnumerable<HotelOrderFinal.Models.DiscountDetail>

@{
    ViewData["Title"] = "List";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        @*  <div class="page-cover text-center">
        <h2 class="page-cover-tittle">About Us</h2>
        <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About</li>
        </ol>
        </div>*@
    </div>
</section>

<table class="table">
    <thead>
        <tr>
            <td>
                序
            </td>
            @*<th>
                @Html.DisplayNameFor(model => model.DiscountId)
            </th>*@

            <th>
                優惠開始時間
                @*@Html.DisplayNameFor(model => model.DiscountStart)*@
            </th>
            <th>
                優惠結束時間
                @*@Html.DisplayNameFor(model => model.DiscountEnd)*@
            </th>                      
            <th>
                優惠是否使用
                @*@Html.DisplayNameFor(model => model.DiscountUse)*@
            </th>
            @*@<th>
            @Html.DisplayNameFor(model => model.MemberId)
            </th>*@
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
                @foreach (var item in Model){
                count++;
                <tr>
                   <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountEnd)
                    </td>                
                    <td>
                        @*@Html.DisplayFor(modelItem => item.DiscountUse)*@
                        @{
                            string s1 = "";
                            if (item.DiscountUse == 0)
                            { s1 = "可使用"; }
                            else if(item.DiscountUse == 1)
                            { s1 = "已使用"; }                            
                        }
                        @Html.Raw(s1)                            
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.MemberId)
            </td>*@
                    
                    @*<td>
                    @Html.ActionLink("修改", "Edit", new {  id=item.DiscountId  }) |
                    @Html.ActionLink("刪除", "Delete","Discount", new {  id=item.DiscountId },new {onclick="return confirm('確定刪除嗎?')"})
                </td>*@
                </tr>
        }
        }
    </tbody>
</table>