@model IEnumerable<HotelOrderFinal.Models.Discount>

@{
    ViewData["Title"] = "List";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">後台管理系統</h2>
        </div>
    </div>
</section>
<h1>活動管理</h1>
<p>
    @using (Html.BeginForm())
    {
        @:關鍵字 @Html.TextBox("txtKeyword") <input type="submit" value="查詢">
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiscountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountDirections)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DiscountDiscount)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>*@
            <th>
                <a asp-action="Create" class="btn btn-info">新增活動</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            int count = 0;
            count++;
            <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountName)
            </td>
            <td>
                 <img src="~/image/@item.DiscountImage" width="160" height="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountDirections)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DiscountDiscount)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>*@
                <td>
                    @Html.ActionLink("修改", "Edit", new {id=item.DiscountId},new { @class="btn btn-success" }) |
                    @Html.ActionLink("刪除", "Delete","Discount", new {  id=item.DiscountId },new { @class="btn btn-danger", onclick="return confirm('確定要刪除嗎?')"})
                </td>
        </tr>
}
    </tbody>
</table>
