@*@model IQueryable<List< HotelOrderFinal.Models.Room>>
@
model IEnumerable<String>
*@
@model List<HotelOrderFinal.ViewModels.CSearchRoomViewModel>
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">訂房首頁</h2>
        </div>
    </div>
</section>
<head>
    <style>

        .shoppoing-head {
            border: double green;
        }

        .roomlist-head {
            border: double green;
        }

        .stDate {
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .stNotroom {
            text-align: center;
            color: red;
            font-size: 24px;
            margin: 10px;
        }

    </style>
</head>

<body>
    <header style="margin:10px;">
        <div class="row" style="width:80% margin: 0 auto">
            <div class="col-md-2 offset-md-2">
                <!-- 調整地區 -->
                <div class="book_tabel_item stDate">
                    <div class="form-group">
                        <div>
                            <select>
                                <option value="option1">北區</option>
                                <option value="option2">中區</option>
                                <option value="option3">南區</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <!-- 調整入住日期欄位的位置和寬度 -->
                <div class="book_tabel_item">
                    <div class="form-group">
                        <label for="checkInDate">入住日期:</label>
                        <input type="date" id="checkInDate" name="checkInDate" class="form-control" placeholder="入住日" value="@ViewBag.CheckInDate.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <!-- 調整退房日期欄位的寬度 -->
                <div class="book_tabel_item">
                    <div class="form-group">
                        <label for="checkOutDate">退房日期:</label>
                        <input type="date" id="checkOutDate" name="checkOutDate" class="form-control" placeholder="退房日" value="@ViewBag.CheckOutDate.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>


            <div class="col-md-1">
                <!-- 調整搜尋按鈕的位置和寬度 -->
                <div class="book_tabel_item">
                    <a href="#" onclick="return SearchRoom();" class="btn btn-primary btn-block">搜尋</a>
                </div>
            </div>
        </div>
    </header>
    <header style="margin-bottom:20px; width:80% margin: 0 auto">
        <div class="row">
            <div class="col-md-6 offset-md-1 roomlist-head " style="margin-right:20px;">
                <section>
                    @*list*@
                    <div style="margin-bottom:3px;">
                        @*roomall*@
                        @*    @if (Model == null || !Model.Any())*@
                        @if (Model == null)
                        {
                            <div class="stNotroom">該時段已沒有空間，請重新選擇時段。</div>
                        }
                        else
                        {
                            int count = 0;


                            foreach (var item in Model)
                            {
                                count++;

                                <div class="row">
                                    @*room*@
                                    <div class="col-md-4">
                                        @*圖片*@
                                       <img src="~/image/@item.RoomClassPhoto1" width="250" height="150" />
                                    </div>
                                    <div class="col-md-8 ">
                                        @*房間資訊*@
                                        <h4>@item.RoomClassName </h4>
                                        <p>@item.RoomClassDetail</p>
                                        <p> 住宿人數：@item.RoomPeople</p>
                                        <p> 坪數：@item.RoomSize</p>
                                    </div>
                                </div>
                                <div>
                                    @*pricetitle*@
                                    <table width="100%">
                                        <tr style="background-color: #f0f0f0;">
                                            <th width="40%">入住地區</th>
                                            <th width="20%">價格</th>
                                            <th width="20%">數量</th>
                                            <th width="20%"></th>
                                        </tr>
                                        <tr>
                                            @*price*@
                                            <th>北部</th>
                                            <th>NT$ @item.WeekdayPrice</th>
                                            <th>1</th>
                                            <th>
                                                <button class="btn btn-primary btn-block AddToCart" data-roomclassid="@item.RoomClassName">加入購物車</button>
                                            </th>
                                        </tr>
                                    </table>
                                    <hr>
                                </div>
                            }
                        }

                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <div class="shoppoing-head">
                    <div style="text-align:center;">
                        <h3>我的購物車</h3>
                    </div>
                    <hr />
                    <div>
                        @*房間資訊*@
                        <table>
                            <tr>
                                <th width="40%">房間類型</th>
                                <td>RoomClaseName 雙人房</td>
                            </tr>
                            <tr>
                                <th>入住地區</th>
                                <td>北部</td>
                            </tr>
                            <tr>
                                <th>入住日期</th>
                                <td>2023/5/7</td>
                            </tr>
                            <tr>
                                <th>退房日期</th>
                                <td>2023/5/8</td>
                            </tr>
                            <tr>
                                <th>數量</th>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>小計</th>
                                <td>NT$ 4000</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <th width="40%">房間類型</th>
                                <td>RoomClaseName 雙人房</td>
                            </tr>
                            <tr>
                                <th>入住地區</th>
                                <td>北部</td>
                            </tr>
                            <tr>
                                <th>入住日期</th>
                                <td>2023/5/7</td>
                            </tr>
                            <tr>
                                <th>退房日期</th>
                                <td>2023/5/8</td>
                            </tr>
                            <tr>
                                <th>數量</th>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>小計</th>
                                <td>NT$ 4000</td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                    <hr />
                    <div>
                        <table>
                            <tr>
                                <th class="h5" width="30%">
                                    應付金額:
                                </th>
                                <td class="text-right">
                                    NT$ 0
                                </td>
                            </tr>
                        </table>
                        <div class="mt-3" style="margin-bottom:10px;">
                            <a href="#">@Html.ActionLink("立即訂購", "Detail", "Order", null, new { @class = "btn btn-primary btn-block" })</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

<script>
    function SearchRoom() {
        var checkInDate = document.getElementById("checkInDate").value;
        var checkOutDate = document.getElementById("checkOutDate").value;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Order/SearchRoom", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // 成功更新 session 的回應
                console.log("已更新 session");
            }
        };
        xhr.send("checkInDate=" + encodeURIComponent(checkInDate) + "&checkOutDate=" + encodeURIComponent(checkOutDate));
    }

    $('.AddToCart').click(function () {
        var RoomClassName = $(this).data('RoomClassName');
        $.ajax({
            type: 'POST',
            url: '/Order/AddShopCart',
            data: { 'RoomClassName': RoomClassName },
            success: function (data) {
                // 在此更新 UI，例如顯示訊息或更新購物車數量等
            },
            error: function () {
                // 在此顯示錯誤訊息
            }
        });
    });


    
</script>
