@*@model IQueryable<List< HotelOrderFinal.Models.Room>>
@
model IEnumerable<String>
*@
@model List<HotelOrderFinal.ViewModels.CSearchRoomViewModel>
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">訂房首頁</h2>
        </div>
    </div>
</section>
<head>
    <style>

        .shoppoing-head {
            border: double green;
        }

        .roomlist-head {
            border: double green;
        }

        .stDate {
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .stNotroom {
            text-align: center;
            color: red;
            font-size: 24px;
            margin: 10px;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header style="margin:10px;">
        <div class="row" style="width:80% margin: 0 auto">
            <div class="col-md-2 offset-md-2">
                <!-- 調整地區 -->
                <div class="book_tabel_item stDate">
                    <div class="form-group">
                        <div>
                            <select>
                                <option value="option1">北區</option>
                                <option value="option2">中區</option>
                                <option value="option3">南區</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <!-- 調整入住日期欄位的位置和寬度 -->
                <div class="book_tabel_item">
                    <div class="form-group">
                        <label for="checkInDate">入住日期:</label>
                        <input type="date" id="checkInDate" name="checkInDate" class="form-control" placeholder="入住日" value="@ViewBag.CheckInDate.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <!-- 調整退房日期欄位的寬度 -->
                <div class="book_tabel_item">
                    <div class="form-group">
                        <label for="checkOutDate">退房日期:</label>
                        <input type="date" id="checkOutDate" name="checkOutDate" class="form-control" placeholder="退房日" value="@ViewBag.CheckOutDate.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <!-- 調整搜尋按鈕的位置和寬度 -->
                <div class="book_tabel_item">
                    <button id="btnSearchRoom" class="btn-primary btn-block" >搜尋</button>
                </div>
            </div>
        </div>
    </header>
    <header style="margin-bottom:20px; width:80% margin: 0 auto">
        <div class="row">
            <div class="col-md-6 offset-md-1 roomlist-head " style="margin-right:20px;">
                <section>
                    @*list*@
                    <div id="RoomList" style="margin-bottom:3px;">
                        @*roomall*@
                        @if (Model == null)
                        {
                            <div class="stNotroom">該時段已沒有空間，請重新選擇時段。</div>
                        }
                        else
                        {
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                <div class="row">
                                    @*room*@
                                    <div class="col-md-4">
                                        @*圖片*@
                                        <img src="~/image/@item.RoomClassPhoto1" width="250" height="150" />
                                    </div>
                                    <div class="col-md-8 ">
                                        @*房間資訊*@
                                        <h4>@item.RoomClassName </h4>
                                        <p>@item.RoomClassDetail</p>
                                        <p> 住宿人數：@item.RoomClassPeople</p>
                                        <p> 坪數：@item.RoomClassSize</p>
                                    </div>
                                </div>
                                <div>
                                    @*pricetitle*@
                                    <table width="100%">
                                        <tr style="background-color: #f0f0f0;">
                                            <th width="40%">入住地區</th>
                                            <th width="20%">價格</th>
                                            <th width="20%">數量</th>
                                            <th width="20%"></th>
                                        </tr>
                                        <tr>
                                            @*price*@
                                            <th>北部</th>
                                            <th>NT$ @item.WeekdayPrice</th>
                                            <th>1</th>
                                            <th>
                                                <button class="btn-primary btn-block" onclick="addRoomToCart('@item.RoomClassId')" >加入購物車</button>
                                            </th>
                                        </tr>
                                    </table>
                                    <hr>
                                </div>
                            }
                        }
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <div class="shoppoing-head">
                    <div style="text-align:center;">
                        <h3>我的購物車</h3>
                    </div>
                    <hr />
                    <div>
                        @*房間資訊*@
                        <table id="ShopCart">
                         @*   <tr>
                                                      <th width="40%" > 房間類型 </th>
                                                        <td>RoomClassName </td>
                                                    </tr>
                                                    <tr >
                                                      <th>入住地區 </th>
                                                       <td > 北部 </td>
                                                     </tr>
                                                     <tr >
                                                       <th>入住日期 </th>
                                                        <td >@ViewBag.CheckInDate.ToString("yyyy-MM-dd")</td>
                                                     </tr>
                                                     <tr >
                                                      <th>退房日期 </th>
                                                      <td>@ViewBag.CheckOutDate.ToString("yyyy-MM-dd") </td>
                                                    </tr>
                                                     <tr >
                                                       <th>數量 </th>
                                                         <td> 1 </td>
                                                     </tr>
                                                     <tr >
                                                       <th>小計 </th>
                                                        <td> NT$ 4000 </td>
                                                    </tr>*@
                        </table>
                    </div>
                    <hr />
                    <div>
                        <table>
                            <tr>
                                <th class="h5" width="40%">
                                    應付金額:
                                </th>
                                <td id="ShopCartTotalPrice"  class="text-right">
                                    NT$ 0
                                </td>
                            </tr>
                        </table>
                        <div class="mt-3" style="margin-bottom:10px;">

                           <a href="#" id="orderButton" class="btn btn-primary btn-block">立即訂購</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>


<script>
    function SearchRoom() {
        var checkInDate = document.getElementById("checkInDate").value;
        var checkOutDate = document.getElementById("checkOutDate").value;
        const btnSearchRoom = document.querySelector('#btnSearchRoom');
        
        btnSearchRoom.addEventListener('click',async () =>{
        const response = await fetch(`@Url.Content("/Order/SearchRoom")`)
        const data = await response.text();
         document.getElementById("RoomList").innerHTML = `${data}`
        } );
    };

    //加入購物車
    function addRoomToCart(rcId) {
        var checkInDate = document.getElementById("checkInDate").value;
        var checkOutDate = document.getElementById("checkOutDate").value;
        const RoomClassId = rcId;

    fetch(`/Order/AddShopCart?RoomClassId=${RoomClassId}`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
    })
    .then(response => response.json())
    .then(cartData => {
        const cartItemsDiv = $('#ShopCart');
                cartItemsDiv.empty();

        const cartArray = JSON.parse(cartData);
                let totalPrice = 0;

                cartArray.forEach((item) => {
                    const itemRow = $('<tr></tr>');
                    itemRow.append($('<th></th>').attr('width', '100px').text('房間類型'));
                    itemRow.append($('<td></td>').text(item.RoomClassName));
                    cartItemsDiv.append(itemRow);

                    const itemRow2 = $('<tr></tr>');
                    itemRow2.append($('<th></th>').attr('width', '100px').text('入住地區'));
                    itemRow2.append($('<td></td>').text('北部'));
                    cartItemsDiv.append(itemRow2);

                    const formattedCheckInDate = new Date(item.CheckInDate).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
                    const itemRow3 = $('<tr></tr>');
                    itemRow3.append($('<th></th>').attr('width', '100px').text('入住日期'));
                    itemRow3.append($('<td></td>').text(formattedCheckInDate));
                    cartItemsDiv.append(itemRow3);

                    const formattedCheckOutDate = new Date(item.CheckOutDate).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
                    const itemRow4 = $('<tr></tr>');
                    itemRow4.append($('<th></th>').attr('width', '100px').text('退房日期'));
                    itemRow4.append($('<td></td>').text(formattedCheckOutDate));
                    cartItemsDiv.append(itemRow4);

                    const itemRow5 = $('<tr></tr>');
                    itemRow5.append($('<th></th>').attr('width', '100px').text('數量'));
                    itemRow5.append($('<td></td>').text('1'));
                    cartItemsDiv.append(itemRow5);

                    const itemRow6 = $('<tr></tr>');
                    itemRow6.append($('<th></th>').attr('width', '100px').text('小計'));
                    itemRow6.append($('<td></td>').text('NT$ ' + item.WeekdayPrice));
                    cartItemsDiv.append(itemRow6);

                    
                    totalPrice += item.WeekdayPrice;

                });

                const totalPriceCell = $('<td></td>').addClass('text-right').text('NT$ ' + totalPrice);
                $('#ShopCartTotalPrice').empty().append(totalPriceCell);

            });
    }

//讀取購物車的session 
function loadCartFromSession() {
    fetch('/Order/GetShopCartFromSession', {
        method: 'GET',
        headers: { 'Content-Type': 'application/json' },
    })
    .then(response => response.json())
    .then(cartData => {
        const cartItemsDiv = $('#ShopCart');
        cartItemsDiv.empty();
               
        if (cartData !== null) {
                    let totalPrice = 0;
                    cartData.forEach((item) => {
                const itemRow = $('<tr></tr>');
                itemRow.append($('<th></th>').attr('width', '40%').text('房間類型'));
                itemRow.append($('<td></td>').text(item.roomClassName));
                cartItemsDiv.append(itemRow);

                const itemRow2 = $('<tr></tr>');
                itemRow2.append($('<th></th>').attr('width', '40%').text('入住地區'));
                itemRow2.append($('<td></td>').text('北部'));
                cartItemsDiv.append(itemRow2);

                const formattedCheckInDate = new Date(item.checkInDate).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
                const itemRow3 = $('<tr></tr>');
                itemRow3.append($('<th></th>').attr('width', '100px').text('入住日期'));
                itemRow3.append($('<td></td>').text(formattedCheckInDate));
                cartItemsDiv.append(itemRow3);

                const formattedCheckOutDate = new Date(item.checkOutDate).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
                const itemRow4 = $('<tr></tr>');
                itemRow4.append($('<th></th>').attr('width', '100px').text('退房日期'));
                itemRow4.append($('<td></td>').text(formattedCheckOutDate));
                cartItemsDiv.append(itemRow4);

                const itemRow5 = $('<tr></tr>');
                itemRow5.append($('<th></th>').attr('width', '100px').text('數量'));
                itemRow5.append($('<td></td>').text('1'));
                cartItemsDiv.append(itemRow5);

                const itemRow6 = $('<tr></tr>');
                itemRow6.append($('<th></th>').attr('width', '100px').text('小計'));
                itemRow6.append($('<td></td>').text('NT$ ' + item.weekdayPrice));
                cartItemsDiv.append(itemRow6);

                        totalPrice += item.weekdayPrice;
            });
                    const totalPriceCell = $('<td></td>').addClass('text-right').text('NT$ ' + totalPrice);
                    $('#ShopCartTotalPrice').empty().append(totalPriceCell);
        }
          
    });
}


    // 頁面載入時載入購物車內容
    $(document).ready(function () {
        loadCartFromSession();
    });

    $('#orderButton').click(function (event) {
    event.preventDefault(); // 阻止默認的超連結行為

    // 檢查購物車內容是否為空
    if ($('#ShopCart').is(':empty')) {
        // 購物車內容為空，顯示確認提示框
        alert('購物車內容為空，請先選擇入住房型')         
    } else {
        // 購物車內容不為空，直接執行跳轉
        window.location.href = "/Order/Detail";
    }
});



</script>
<script>
    var a = document.getElementById('checkInDate');
    console.log(a.value);
    window.onload = async () => {
        const response = await fetch('@Url.Action("getActivitySession", "Order")');
        const data = await response.json();
        a.value = data.time;
        console.log(data);
    };
</script>