@model HotelOrderFinal.ViewModels.ShowOrderDetailData
@{
    ViewData["Title"] = "ShoppingCar";
}
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        @*  <div class="page-cover text-center">
        <h2 class="page-cover-tittle">About Us</h2>
        <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About</li>
        </ol>
        </div>*@
    </div>
</section>
<style>
    .wrapper {
        width: 80%; /* 設定容器寬度 */
        margin: 0 auto; /* 將容器置中對齊 */
    }

</style>
<div class="wrapper ">

    <h1>會員資料修改</h1>
    <hr />
    <div class="row">
        @*//【側邊欄位】==========================================================================*@
        <div class="col-xs-12 col-md-3">
            <div class="athMember__menu pb-sm-3">
                <div class="athMember__user pb-20">
                    <div class="athMember__userInfo">
                        @{
                            var userName = Context.Session.GetString("UserName");
                            var userId = Context.Session.GetString("UserID");
                            var usePhone = Context.Session.GetString("UserPhone");
                        }
                        <h2 class="athMember__userName">@userName</h2>
                        @*<p class="athMember__usePhone">@usePhone</p>*@
                    </div>
                </div>
                <div class="athMemberNav">
                    <ul class="athMember__menuList d-mdx-none pb-15 mt-10" style="list-style: none;">
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("修改資料", "Edit", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("修改密碼", "EditPassword", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("您的訂單", "ShoppingCar", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("優惠折扣", "DiscountByMember", "Discount", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("您的評論", "ListByMember", "Comment", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        @*<li class="athMember__menu__isactive" hidden>*@
                        @*@Html.ActionLink("最新消息", "News", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })*@
                        @*</li>*@
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("會員條款", "terms", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        @*<li class="athMember__menu__isactive" hidden>*@
                        @*@Html.ActionLink("電子會員卡", "MemberCard", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })*@
                        @*</li>*@

                    </ul>
                    <div class="d-md-none">
                        <p class="athMember__menu__select mt-20 mb-10">會員資料選單</p>
                        <div class="athMember__menuList form-group athSelect w-100">
                            <select class="form-control">
                                <option value="memberEdit">修改資料</option>
                                <option value="passwordEdit">修改密碼</option>
                                <option value="getOrderQueryMn">您的訂單</option>
                                <option value="getNews">最新消息</option>
                                <option value="memberRule">會員條款</option>
                                <option value="memberBenefit">會員福利</option> <!----> <!---->
                                <option value="memberCard">電子會員卡</option> <!----> <!---->
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*///-----------------------------------------------------------------------------------------*@


        @*// 在這裡可以使用 memberId 去查詢該會員的歷史訂單資訊*@
        @*// 假設您有一個名為 orders 的資料集合用於儲存訂單資訊*@
        
        
            <form asp-action="Edit">
                <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="FId" value="@Model.orderID" />
                <div class="form-group">
                    <label asp-for="@Model.orderID" class="control-label"></label>
                    <input asp-for="@Model.orderID" class="form-control" disabled />
                    <span asp-validation-for="@Model.orderID" class="text-danger"></span>
                </div>
                    <div class="form-group">
                        <label asp-for="@Model.RoomClassName" class="control-label">房型名稱</label>
                        <input asp-for="@Model.RoomClassName" class="form-control" disabled />
                        <span asp-validation-for="@Model.RoomClassName" class="text-danger"></span>
                    </div>
                <div class="form-group">
                    <label asp-for="@Model.CheckInDate" class="control-label"></label>
                    <input asp-for="@Model.CheckInDate" class="form-control" disabled />
                    <span asp-validation-for="@Model.CheckInDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.CheckOutDate" class="control-label"></label>
                    <input asp-for="@Model.CheckOutDate" class="form-control" disabled />
                    <span asp-validation-for="@Model.CheckOutDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.PaymentDate" class="control-label"></label>
                    <input asp-for="@Model.PaymentDate" class="form-control" disabled />
                    <span asp-validation-for="@Model.PaymentDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.PaymentPrice" class="control-label"></label>
                    <input asp-for="@Model.PaymentPrice" class="form-control" disabled />
                    <span asp-validation-for="@Model.PaymentPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.OrderDetailRemark" class="control-label"></label>
                    <input asp-for="@Model.OrderDetailRemark" class="form-control" disabled />
                    <span asp-validation-for="@Model.OrderDetailRemark" class="text-danger"></span>
                </div>
       
        </div>
                
        <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">房間照片</label>
              
                    <img id="photo1Preview" class="mythumbnail" src="~/image/room/@Model.RoomClassPhoto1" width="240" height="180">
                    <span asp-validation-for="RoomClassPhoto1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                   
                    <img id="photo2Preview" class="mythumbnail" src="~/image/room/@Model.RoomClassPhoto2" width="240" height="180">
                    <span asp-validation-for="RoomClassPhoto2" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label"></label>
                    
                    <img id="photo3Preview" class="mythumbnail" src="~/image/room/@Model.RoomClassPhoto3" width="240" height="180">
                    <span asp-validation-for="RoomClassPhoto3" class="text-danger"></span>
                </div>
            </div>
            </div>
            </form>
        </div>
    </div>

    


    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>