@model HotelOrderFinal.ViewModels.CindexActivityViewModels
@{
    ViewData["Title"] = "Home Page";
}
<!--================Banner Area =================-->

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">*@
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

@*底下分別是Bootstrap CSS/fontawesome.com用的ICON 需要有才可以使用在飯店設施上的ICON!*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>遠離單調的生活</h6>
                <h2>放鬆思緒</h2>
                <p>
                    <br> 來到我們的飯店，您將享受到無與倫比的奢華體驗，進入一個充滿未知驚喜的旅程。
                    <br />致力於提供卓越的服務和設施，不斷超越客人的期望，讓您的住宿體驗超越一切。
                </p>
                @*這個按鈕似乎不需要，不過暫時先註解保留以供日後需要*@
                @*<a href="#" class="btn theme_btn button_hover">立刻開始</a>*@
            </div>
        </div>
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-12">
                    <div class="boking_table" style="width:100%">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="book_tabel_item">
                                    <select class="wide">
                                        <option data-display="入住地區">選擇地區</option>
                                        <option value="1">北區</option>
                                        <option value="2">中區</option>
                                        <option value="3">南區</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input type="date" id="checkInDate" name="checkInDate" class="form-control" placeholder="入住日" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <input type="date" id="checkOutDate" name="checkOutDate" class="form-control" placeholder="退房日" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="book_tabel_item">
                                    @* <a href="#">@Html.ActionLink("立即預約", "Index", "Order", null, new { @class = "book_now_btn button_hover" })</a>*@
                                    <a href="#" onclick="return setSession();" class="book_now_btn button_hover">立即預約</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Banner Area =================-->
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">風格介紹</h2>
            <p>依照風格,展現不同的風貌</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        @*
                        <a class="navbar-brand logo_h" asp-controller="Home" asp-action="Index">
                        <img src="~/image/Logo2.png" alt="">
                        </a>*@
                        <a href="@Url.Action("List", "Room")">
                            <img src="image/room/ae2c9ea0-75aa-450b-9f42-40a99a55e1b5.jpg" alt="" width="262" height="270">
                        </a>

                    </div>
                    <a href="@Url.Action("List", "Room")"><h4 class="sec_h4">簡奢風格</h4></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">

                        <a href="@Url.Action("List", "Room")">
                            <img src="image/room/4eb3dca9-03e7-43f9-aebe-00df912c34a0.jpg" alt="" width="262" height="270">
                        </a>
                        @*<img src="image/room2.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>*@
                    </div>
                    <a href="@Url.Action("List", "Room")"><h4 class="sec_h4">日式風格</h4></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">

                        <a href="@Url.Action("List", "Room")">
                            <img src="image/room/da7329be-29db-47e3-b437-d9194635f104.jpg" alt="" width="262" height="270">
                        </a>
                        @*<img src="image/room3.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>*@
                    </div>
                    <a href="@Url.Action("List", "Room")"><h4 class="sec_h4">北歐風格</h4></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">

                        <a href="@Url.Action("List", "Room")">
                            <img src="image/room/11f06d41-cf38-4047-bd8e-eb5a332ee516.jpg" alt="" width="262" height="270">
                        </a>
                        @*<img src="image/room4.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>*@
                    </div>
                    <a href="@Url.Action("List", "Room")"><h4 class="sec_h4">總統套房</h4></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
<!--================ About History Area  =================-->
@*<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">關於我們 </h2>
                    <p>我們飯店是一家位於城市中心的高級酒店，提供全方位的住宿體驗。我們的團隊致力於以最優質的服務和設施，為每一位客人打造一個難忘的入住體驗。無論是商務旅客、家庭遊客還是情侶度假者，我們都以熱情、專業和細緻的待客之道，讓每位客人感受到家的溫暖和舒適。</p>
                    <a href="#" class="button_hover theme_btn_two">取得價格</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="image/about_bg.jpg" alt="img">
            </div>
        </div>
    </div>
</section>*@
<!--================ About History Area  =================-->
<!--================ Facilities Area  =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">飯店設施</h2>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>餐廳</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>戶外體驗</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="fas fa-swimmer"></i>游泳池</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i>租車服務</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="bi bi-wifi"></i>WIFI吃到飽</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>咖啡廳</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Facilities Area  =================-->
<!--================ Testimonial Area  =================-->
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">


            </h2>
            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
        </div>

        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Testimonial Area  =================-->
<!--================ Latest Blog Area  =================-->
<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">體驗活動</h2>
            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            @for (int i = 0; i < Model.ActivityImage.Count;)
            {
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i] })">
                        <img src="~/image/@Model.ActivityImage[i]" style="width:360px;height:360px" alt="Slide 1">
                        </a>
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i+1] })">
                        <img src="~/image/@Model.ActivityImage[i+1]" style="width:360px;height:360px" alt="Slide 2">
                        </a>
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i+2] })">
                        <img src="~/image/@Model.ActivityImage[i+2]" style="width:360px;height:360px" alt="Slide 3">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i+3] })">
                        <img src="~/image/@Model.ActivityImage[i+3]" style="width:360px;height:360px" alt="Slide 1">
                        </a>
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i+4] })">
                        <img src="~/image/@Model.ActivityImage[i+4]" style="width:360px;height:360px" alt="Slide 2">
                        </a>
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i+5] })">
                        <img src="~/image/@Model.ActivityImage[i+5]" style="width:360px;height:360px" alt="Slide 3">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i+6] })">
                        <img src="~/image/@Model.ActivityImage[i+6]" style="width:360px;height:360px" alt="Slide 1">
                        </a>
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i+7] })">
                        <img src="~/image/@Model.ActivityImage[i+7]" style="width:360px;height:360px" alt="Slide 2">
                        </a>
                        <a href="@Url.Action("ActivityByDetails", "Activity", new { id = Model.ActivityID[i+8] })">
                        <img src="~/image/@Model.ActivityImage[i+8]" style="width:360px;height:360px" alt="Slide 3">
                        </a>
                    </div>
                </div>
                i += 9;
            }
       
           
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        @*       <div class="row mb_30">
        <div class="col-lg-4 col-md-6">
        <div class="single-recent-blog-post">
        <div class="thumb">
        <img class="img-fluid" src="image/blog/blog-1.jpg" alt="post">
        </div>
        <div class="details">
        <div class="tags">
        <a href="#" class="button_hover tag_btn">Travel</a>
        <a href="#" class="button_hover tag_btn">Life Style</a>
        </div>
        <a href="#"><h4 class="sec_h4">Low Cost Advertising</h4></a>
        <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.</p>
        <h6 class="date title_color">31st January,2018</h6>
        </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6">
        <div class="single-recent-blog-post">
        <div class="thumb">
        <img class="img-fluid" src="image/blog/blog-2.jpg" alt="post">
        </div>
        <div class="details">
        <div class="tags">
        <a href="#" class="button_hover tag_btn">Travel</a>
        <a href="#" class="button_hover tag_btn">Life Style</a>
        </div>
        <a href="#"><h4 class="sec_h4">Creative Outdoor Ads</h4></a>
        <p>Self-doubt and fear interfere with our ability to achieve or set goals. Self-doubt and fear are</p>
        <h6 class="date title_color">31st January,2018</h6>
        </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6">
        <div class="single-recent-blog-post">
        <div class="thumb">
        <img class="img-fluid" src="image/blog/blog-3.jpg" alt="post">
        </div>
        <div class="details">
        <div class="tags">
        <a href="#" class="button_hover tag_btn">Travel</a>
        <a href="#" class="button_hover tag_btn">Life Style</a>
        </div>
        <a href="#"><h4 class="sec_h4">It S Classified How To Utilize Free</h4></a>
        <p>Why do you want to motivate yourself? Actually, just answering that question fully can </p>
        <h6 class="date title_color">31st January,2018</h6>
        </div>
        </div>
        </div>
        </div>*@
    </div>
</section>
<!--================ Recent Area  =================-->
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<script>
    function setSession() {
    var checkInDate = document.getElementById("checkInDate").value;
    var checkOutDate = document.getElementById("checkOutDate").value;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/Home/setSession", true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
         // alert("session的CHECKINDATE值：" + HttpContext.Session.GetString("CHECKINDATE") + "\n session的CHECKOUTDATE值：" + HttpContext.Session.GetString("CHECKOUTDATE"));
      }
            window.location.href = "/Order/List";
     
    };

    xhr.send("checkInDate=" + encodeURIComponent(checkInDate) + "&checkOutDate=" + encodeURIComponent(checkOutDate));

    //防止表單自動提交
    return false;
  }
</script>







