@model IEnumerable<HotelOrderFinal.Models.Comment>

@{
    ViewData["Title"] = "List";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">About Us</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
</section>

<h2>點評 & 評論</h2>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDetail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;

            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentDetail)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>