@model IEnumerable<HotelOrderFinal.Models.Comment>

@{
    ViewData["Title"] = "ListByMember";
}
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        @*  <div class="page-cover text-center">
        <h2 class="page-cover-tittle">About Us</h2>
        <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About</li>
        </ol>
        </div>*@
    </div>
</section>
<style>
    .wrapper {
        width: 80%; /* 設定容器寬度 */
        margin: 0 auto; /* 將容器置中對齊 */
    }

</style>
<div class="wrapper ">

    <h1>您的評論</h1>
    <hr />
    <div class="row">
        @*//【側邊欄位】==========================================================================*@
        <div class="col-xs-12 col-md-3">
            <div class="athMember__menu pb-sm-3">
                <div class="athMember__user pb-20">
                    <div class="athMember__userInfo">
                        @{
                            var userName = Context.Session.GetString("UserName");
                            var userId = Context.Session.GetString("UserID");
                            var usePhone = Context.Session.GetString("UserPhone");
                        }
                        <h2 class="athMember__userName">@userName</h2>
                        @*<p class="athMember__usePhone">@usePhone</p>*@
                    </div>
                </div>
                <div class="athMemberNav">
                    <ul class="athMember__menuList d-mdx-none pb-15 mt-10" style="list-style: none;">
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("修改資料", "Edit", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("修改密碼", "EditPassword", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("您的訂單", "ShoppingCar", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("優惠折扣", "DiscountByMember", "Discount", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("您的評論", "ListByMember", "Comment", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        @*<li class="athMember__menu__isactive" hidden>*@
                        @*@Html.ActionLink("最新消息", "News", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })*@
                        @*</li>*@
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("會員條款", "terms", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
                        </li>
                        @*<li class="athMember__menu__isactive" hidden>*@
                        @*@Html.ActionLink("電子會員卡", "MemberCard", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })*@
                        @*</li>*@

                    </ul>
                    <div class="d-md-none">
                        <p class="athMember__menu__select mt-20 mb-10">會員資料選單</p>
                        <div class="athMember__menuList form-group athSelect w-100">
                            <select class="form-control">
                                <option value="memberEdit">修改資料</option>
                                <option value="passwordEdit">修改密碼</option>
                                <option value="getOrderQueryMn">您的訂單</option>
                                <option value="getNews">最新消息</option>
                                <option value="memberRule">會員條款</option>
                                <option value="memberBenefit">會員福利</option> <!----> <!---->
                                <option value="memberCard">電子會員卡</option> <!----> <!---->
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*///-----------------------------------------------------------------------------------------*@

@*        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">會員管理系統:你的評論</h2>
                </div>
            </div>
        </section>*@
        
            
            <style>
                div {
                }

                .card-text {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    overflow: hidden;
                }

                .card-img {
                    display: block;
                    margin: 0 auto;
                }
            </style>
        <div class="col-xs-12 col-md-9">
            <div class="container-fluid">
                <div class="row" style="background-color: #dcebfd;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p></p>
                        <p style="padding-left:15px">
                            <a asp-action="Create" class="btn btn-info">請寫下您寶貴的意見</a>
                            <a asp-action="ListByMemberAll" class="btn btn-info">查看全部評價</a>
                            @{
                                int count = 0; decimal avgPoint = 0, totPoint = 0;
                                foreach (var item2 in Model)
                                {
                                    count++;
                                    totPoint += item2.CommentPoint.Value;
                                }
                                if (count > 0)
                                {
                                    avgPoint = (totPoint / count);
                                }
                                <span style="color:#2894FF; font-size:1.5em;">　　　評點平均數:@avgPoint.ToString("N2")</span>
                            }
                        </p>
                        <div class="d-flex flex-wrap" style="padding-bottom:10px">
                            @foreach (var item in Model)
                            {
                                <div class="col-4 col-1-sm-6">
                                    <div class="card" style="width:400px; height:240px;  border-radius:10px;  margin-top:10px; padding-bottom:10px;">
                                        @*                            <div class="card" style="width: 20rem; border-radius:10px">
                                    *@                                <div class="card-body">
                                            <input type="hidden" value="@Html.DisplayFor(modelItem => item.CommentId)" />
                                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.CommentDate)</h5>
                                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.MemberId)</h5>
                                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                                @for (var i = 0; i < item.CommentPoint; i++)
                                                {
                                                    <img src="../image/comment/shining.png">
                                                }
                                                @Html.DisplayFor(modelItem => item.CommentPoint)
                                            </h6>
                                            <p class="card-text; lnr-highlight:16rem;">@Html.DisplayFor(modelItem => item.CommentDetail)</p>
                                            <p>
                                                @Html.ActionLink("修改", "Edit", new {id=item.CommentId},new { @class="btn btn-success" }) |
                                                @Html.ActionLink("刪除", "Delete", new {id=item.CommentId},new { @class="btn btn-danger", onclick="return confirm('確定要刪除嗎?')"})
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            </div>

    </div>
</div>
