@model IEnumerable<HotelOrderFinal.Models.HotelIndustry>

@{
    Layout = "_Layout";
    ViewData ["Title"] = "List";
}

<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bgimg" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h1 class="page-cover-tittle">尋找飯店</h1>
            <ol class="breadcrumb">
                <li><h5>找到專屬於您的最佳選擇</h5></li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================ Facilities Area  =================-->
@*<section class="facilities_area section_gap">
*@<section class="accomodation_area section" style="background-color:#f2f2f2">
    @*<section class="testimonial_area section_gap">*@
    @*背景圖*@
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    @*分頁*@
    @*在class中nav應該是有flex標籤 用於啟動justify-content-center置中 *@
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist" style="border-block-color:#343A40">
            <button class="nav-link active" id="nav-home-tab" style="width:20%;" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">由地圖尋找</button>
            <button class="nav-link " id="nav-profile-tab" style="width:20%;" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">由地區篩選</button>
        </div>
    </nav>
    @*分頁下的內容*@
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/d/embed?mid=1J4qA06_2AVU2zKFMINRSFG-f-CQhIGA&ehbc=2E312F" width="640" height="480"></iframe>
            </div>
            <div class="d-flex justify-content-center">
                <a href="@Url.Action("Index", "Order")" class="btn btn-dark" role="button">我要訂房!</a>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            @*手風琴*@
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <div class="d-flex justify-content-center">
                        <button id="btn1" class="accordion-button collapsed" type="button" style="width:56%" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" data-hotelregionid="1">
                            北部
                        </button>
                    </div>
                </div>
                @*手風琴內容*@
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        @*容器 排版未處理完*@
                        <div id="hoteldata1" class="mx-auto row d-flex justify-content-center" style=" width:1000px; background-color:#efefef">
                        </div>
                        @*容器*@
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="d-flex justify-content-center">
                    <button id="btn2" class="accordion-button collapsed" type="button" style="width:56%" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" data-hotelregionid="2">
                        中部
                    </button>
                </div>
            </div>
            @*手風琴內容*@
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    @*容器*@
                    <div id="hoteldata2" class="mx-auto row d-flex justify-content-center" style=" width:1000px; background-color:#efefef">
                    </div>
                    @*容器*@
                </div>
            </div>

            <div class="accordion-item">
                <div class="d-flex justify-content-center" id="headingThree">
                    <button id="btn3" class="accordion-button collapsed" type="button" style="width:56%" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" data-hotelregionid="3">
                        南部
                    </button>
                </div>
            </div>
            @*手風琴內容*@
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    @*容器*@
                    <div id="hoteldata3" class="mx-auto row d-flex justify-content-center" style=" width:1000px; background-color:#efefef	">
                    </div>
                    @*容器*@
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Facilities Area  =================-->
<!--================ Testimonial Area  =================-->
@*<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Testimonial from our Clients</h2>
            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
        </div>
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
*@<!--================ Testimonial Area  =================-->
<!--================ start footer Area  =================-->
@*<h1>@ViewData["Title"]</h1>


<p>Use this page to detail your site's privacy policy.</p>*@


@section Scripts{

    <script>
        //$("#hoteldata3").empty();與$("#hoteldata3").append應該要寫一個可以自己判別的通用式
        catchid1()
        catchid2()
        catchid3()

        function catchid1() {
            //抓hotelregionid
            $('#btn1').on('click', function (event) {

                var hotelRegionId = $(event.target).data('hotelregionid');

                var apiUrl = "https://localhost:7007/api/APIHotelIndustry?hotelRegionId=" + hotelRegionId;
                //僅輸出符合api所設參數的內容
                $.ajax({
                    url: apiUrl,
                    method: 'get',
                    success: function (data) {
                        $("#hoteldata1").empty(); //清空之前的資料
                        for (var i = 0; i < data.length; i++) {
                            $("#hoteldata1").append(
                                '<div class="mycol">' +
                                '<div class="container" >' +
                                '<div id = "hotelupload1" class= "newcontainer  text-center" >' +
                                '<h1 style="color:black;">' + data[i].hotelName + '</h1>' +
                                '<img src="/image/' + data[i].hotelImage + ' "  width = "320" height = "240" />' +
                                '<br>' + '<p style="color:black;">' +
                                data[i].hotelAddress + '</p>' +
                                '<a href="@Url.Action("Index", "Order")" class="btn btn-dark" role="button">我要訂房!</a>' +
                                '</div>' +
                                '</div>' +
                                '</div>'
                            );
                        }
                    }
                });

            });
        }
        function catchid2() {
            //抓hotelregionid
            $('#btn2').on('click', function (event) {

                var hotelRegionId = $(event.target).data('hotelregionid');

                var apiUrl = "https://localhost:7007/api/APIHotelIndustry?hotelRegionId=" + hotelRegionId;
                //僅輸出符合api所設參數的內容
                $.ajax({
                    url: apiUrl,
                    method: 'get',
                    success: function (data) {
                        $("#hoteldata2").empty(); //清空之前的資料
                        for (var i = 0; i < data.length; i++) {
                            $("#hoteldata2").append(
                                '<div class="mycol">' +
                                '<div class="container" >' +
                                '<div id = "hotelupload2" class= "newcontainer  text-center">' +
                                '<h1 style="color:black;">' + data[i].hotelName + '</h1>' +
                                '<img src="/image/' + data[i].hotelImage + ' "  width = "320" height = "240" />' +
                                '<br>' + '<p style="color:black;">' + data[i].hotelAddress + '</p>' +
                                '<a href="@Url.Action("Index", "Order")" class="btn btn-dark" role="button">我要訂房!</a>' +
                                '</div>' +
                                '</div>' +
                                '</div>'
                            );
                        }
                    }
                });
            });
        }
        function catchid3() {
            //抓hotelregionid
            $('#btn3').on('click', function (event) {
                var hotelRegionId = $(event.target).data('hotelregionid');

                var apiUrl = "https://localhost:7007/api/APIHotelIndustry?hotelRegionId=" + hotelRegionId;
                //僅輸出符合api所設參數的內容
                $.ajax({
                    url: apiUrl,
                    method: 'get',
                    success: function (data) {
                        $("#hoteldata3").empty(); //清空之前的資料
                        for (var i = 0; i < data.length; i++) {
                            $("#hoteldata3").append(
                                '<div class="mycol">' +
                                '<div class="container" >' +
                                '<div id="hotelupload3"class= "newcontainer text-center">' +
                                '<h1 style="color:black;">' + data[i].hotelName + '</h1>' +
                                '<img src="/image/' + data[i].hotelImage + ' "  width = "320" height = "240" />' +
                                '<br>' + '<p style="color:black;">' + data[i].hotelAddress + '</p>' +
                                '<a href="@Url.Action("Index", "Order")" class="btn btn-dark" role="button">我要訂房!</a>' +
                                '</div>' +
                                '</div>' +
                                '</div>'
                            );
                        }
                    }
                });
            });
        }

    </script>
                        }