@model IEnumerable<HotelOrderFinal.Models.RoomClass>

@{
    Layout = null;
    ViewData ["Title"] = "AdminRoom";
    
}
<style>
    table {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        width: auto
    }

        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>
           @* <h2 class="page-cover-tittle">後台管理系統：房型管理</h2>*@
<h2>房型管理</h2>


<table class="table">
    <thead>
        <tr>
            <th>
               風格編號
            </th>
            <th>
                名稱
            </th>
            <th>
                坪數
            </th>
            <th>
                人數
            </th>
            <th>
                詳細
            </th>
            <th>
                照片1
            </th>
            <th>
                照片2
            </th>
            <th>
                照片3
            </th>
            <th>
                平日價格
            </th>
            <th>
                假日價格
            </th>
            <th>
                加價
            </th>
            <th><a asp-action="Create" class="btn btn-primary">新增房間</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomClassSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomClassPeople)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.RoomClassDetail)*@
                </td>
                <td>
                    <img src="~/image/@item.RoomClassPhoto1" width="120" height="90" >                                    
                </td>
                                <td>
                    <img src="~/image/@item.RoomClassPhoto2" width="120" height="90">
                </td>
                <td>
                    <img src="~/image/@item.RoomClassPhoto3" width="120" height="90">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekdayPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddPrice)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new {id=item.RoomClassId},new { @class="btn btn-success" })
                    <br>
                    @Html.ActionLink("刪除", "Delete", new {id=item.RoomClassId},new { @class="btn btn-danger", onclick="return confirm('確定要刪除嗎?')"})
                </td>
            </tr>
        }
    </tbody>
</table>
