@model IEnumerable<HotelOrderFinal.Models.RoomClass>

@{    
    ViewData ["Title"] = "AdminRoom";
    
}
<style>

</style>
<link rel="stylesheet" href="~/css/ForAdminTable.css">
           @* <h2 class="page-cover-tittle">後台管理系統：房型管理</h2>*@

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">後台管理系統：房型管理</h2>
        </div>
    </div>
</section>
<div class="Adminwrapper">
<div class="row">
    <div class="col-xs-12 col-md-2">
        <div class=" ">
            <div class=" ">
                <div class="">
                    @{
                        var AdminId = Context.Session.GetString("AdminId");
                    }

                </div>
            </div>
            <div class="">
                <h2 style="text-align: center">
                    @Html.ActionLink(AdminId, "List", "Admin")</h2>
                <ul class="list" style="list-style: none; padding: 0;">
                
        <!--改成手風琴下拉式-->
        <li>
            @Html.ActionLink("會員管理", "List", "MemberMange", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
        </li>
        <li>
            @Html.ActionLink("房型管理", "AdminRoom", "Room", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
        </li>
        <li>
            @Html.ActionLink("活動管理", "ActivityByCreate", "Activity", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
        </li>
        <li>
            @Html.ActionLink("訂房管理", "EditPassword", "Member", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
        </li>
        <li>
            @Html.ActionLink("飯店一覽管理", "ListView", "HotelIndustry", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
        </li>
        <li>
            @Html.ActionLink("優惠折扣管理", "List", "Discount", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
        </li>
        <li>
            @Html.ActionLink("評論管理", "ListByAdmin", "Comment", null, new { @class = "nav-link Adminbutton  d-flex justify-content-center" })
        </li>
    </ul>
</div>
            </div>
        </div>
<div id="selectedItemContent" class="col-xs-12 col-md-10 ">
    <!-- 這裡會顯示點選的項目的內容 -->



            <table class="table">
    <thead>
        <tr>
            <th>
               風格編號
            </th>
            <th>
                名稱
            </th>
            <th>
                坪數
            </th>
            <th>
                人數
            </th>
            <th>
                詳細
            </th>
            <th>
                房間照片
            </th>
          @*  <th>
                照片2
            </th>
            <th>
                照片3
            </th>*@
            <th>
                平日價格
            </th>
            <th>
                假日價格
            </th>
            <th>
                加價
            </th>
            <th><a asp-action="Create" class="btn btn-primary">新增房間</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomClassSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomClassPeople)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.RoomClassDetail)*@
                </td>
                <td>
                    <img src="~/image/@item.RoomClassPhoto1" width="120" height="90" >                                    
                </td>
                      @*          <td>
                    <img src="~/image/@item.RoomClassPhoto2" width="120" height="90">
                </td>
                <td>
                    <img src="~/image/@item.RoomClassPhoto3" width="120" height="90">
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.WeekdayPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddPrice)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new {id=item.RoomClassId},new { @class="btn btn-success" })                    
                    @Html.ActionLink("刪除", "Delete", new {id=item.RoomClassId},new { @class="btn btn-danger", onclick="return confirm('確定要刪除嗎?')"})
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
</div>
<script>

    </script>