@model IEnumerable<HotelOrderFinal.Models.RoomClass>
@{
    ViewData["Title"] = "List";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Room</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Room</li>
            </ol>
        </div>
        <div class="hotel_booking_area position">
            <div class="container">
                <div class="hotel_booking_table">
                    <div class="col-md-3">
                        <h2>預約<br> 您的房間</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker11'>
                                                <input type='text' class="form-control" placeholder="入住日" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" placeholder="退房日" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide">
                                                <option data-display="成人">成人</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <select class="wide">
                                                <option data-display="兒童">兒童</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide">
                                                <option data-display="入住房型">房型</option>
                                                <option value="1">精緻商務房</option>
                                                <option value="2">豪華雙人房</option>
                                                <option value="3">商務四人房</option>
                                                <option value="4">親子家庭房</option>
                                                <option value="5">總統套房</option>
                                            </select>
                                        </div>
                                        <a href="#">@Html.ActionLink("立即預約", "Index", "Order", null, new { @class = "book_now_btn button_hover" })</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>>
</section>
<!--================Breadcrumb Area =================-->
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Normal Accomodation</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>
        <div class="row accomodation_two">
            
            @if(Model !=null){
            foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                           @* <img src="~/image/room1.jpg" alt="">*@
                                <img src="~/image/room/@item.RoomClassPhoto1" width="320" height="240" />
                            @*<a href="#" class="btn theme_btn button_hover">Book Now</a>*@
                            @Html.ActionLink("Book Now", "Detail", "Room",new {  id=item.RoomClassId}, new { @class = "btn theme_btn button_hover" })
                        </div>
                            <a href="@Url.Action("Detail", "Room", new { id = item.RoomClassId })">
                                <h4 class="sec_h4">@Html.DisplayFor(modelItem => item.RoomClassName)</h4>
                            </a>
                       @* <a href="#"><h4 class="sec_h4">@Html.DisplayFor(modelItem => item.RoomClassName)</h4></a>*@
                        <h5>@Html.DisplayFor(modelItem => item.HolidayPrice)<small>/night</small></h5>
                    </div>
                        @Html.ActionLink("Edit", "Edit", "Room",new {  id=item.RoomClassId})
                </div>
            }
            }
            
            </div>
            </div>
</section>
<!--================ Accomodation Area  =================-->
