@model IEnumerable<HotelOrderFinal.Models.RoomClass>
@{
    ViewData["Title"] = "doubleRoom";
}
<style>
.RoomList {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
</style>
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">房型一覽</h2>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                <li class="active">房型</li>
            </ol>
        </div>

    </div>>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-12">
                    <div class="boking_table" style="width:100%">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="book_tabel_item">
                                    <select id="hotelId" class="wide">
                                        <option data-display="入住飯店">選擇飯店</option>
                                        <option value=1>華泰蔚藍飯店</option>
                                        <option value=2>皇家蔚藍飯店</option>
                                        <option value=3>國賓蔚藍飯店</option>
                                        <option value=4>宜蘭克拉克藝術酒店</option>
                                        <option value=6>台北極光飯店</option>
                                        <option value=8>台中時代飯店</option>
                                        <option value=9>巴塞隆納宜居酒店</option>
                                        <option value=10>台南時代廣場飯店</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input type="date" id="checkInDate" name="checkInDate" class="form-control" placeholder="入住日" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <input type="date" id="checkOutDate" name="checkOutDate" class="form-control" placeholder="退房日" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="book_tabel_item">
                                    @* <a href="#">@Html.ActionLink("立即預約", "Index", "Order", null, new { @class = "book_now_btn button_hover" })</a>*@
                                    <a href="#" onclick="getSearchRoomValue();" class="book_now_btn button_hover">立即預約</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================ Accomodation Area  =================-->


<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">品味·風格·選擇</h2>
            <p>豪華住宿，無與倫比的舒適</p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a data-toggle="tab" href="#allRooms">
                        @Html.ActionLink("所有房型","List", "Room",null,new { @class = "nav-link active" })
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#doubleRoom">
                        @Html.ActionLink("雙人房","doubleRoom", "Room",null,new { @class = "nav-link active" })
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#quadrupleRoom">
                        @Html.ActionLink("四人房","quadrupleRoom", "Room",null,new { @class = "nav-link active" })
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#familyRoom">
                        @Html.ActionLink("親子房","familyRoom", "Room",null,new { @class = "nav-link active" })
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="presidentialSuite">
                        @Html.ActionLink("總統房","presidentialSuite", "Room",null,new { @class = "nav-link active" })
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="doubleRoom" class="tab-pane fade show active">
                    <div class="row accomodation_two">

                        
                        @if (Model != null)
                        {
                            var customOrder = new List<string> { "簡奢", "日式", "北歐", "總統" };
                            @foreach (var item in Model.OrderBy(x => customOrder.FindIndex(c => x.RoomClassName.Contains(c))))
                            {
                             
                                <div class="col-lg-3 col-sm-6">
                                    <div class="accomodation_item text-center">
                                        <div class="hotel_img">
                                            
                                            <a href="@Url.Action("Detail", "Room", new { id = item.RoomClassId })">
                                                <img src="~/image/room/@item.RoomClassPhoto1" width="320" height="240" />
                                            </a>                                         
                                        </div>
                                        <a href="@Url.Action("Detail", "Room", new { id = item.RoomClassId })">
                                            <h4 class="sec_h4">@Html.DisplayFor(modelItem => item.RoomClassName)</h4>
                                        </a>
                                       
                                        <h5>@Html.DisplayFor(modelItem => item.HolidayPrice)<small>/night</small></h5>
                                    </div>
                                   
                                </div>
                               
                            }
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
<script>
    function getSearchRoomValue() {
        var checkInDate = document.getElementById("checkInDate").value;
        var checkOutDate = document.getElementById("checkOutDate").value;
        var hotelId = document.getElementById("hotelId").value;

        //fetch(`/Order/List?checkInDate=${encodeURIComponent(checkInDate)}&checkOutDate=${encodeURIComponent(checkOutDate)}&hotelId=${encodeURIComponent(hotelId)}`, {
        //    method: 'POST',
        //    headers: { 'Content-Type': 'application/json' },
        //})
        //~/
        console.log(checkInDate)
        var url = `/Order/List?checkInDate=${encodeURIComponent(checkInDate)}&checkOutDate=${encodeURIComponent(checkOutDate)}&hotelId=${encodeURIComponent(hotelId)}`;

        window.location.href = url;

    }

    window.addEventListener('DOMContentLoaded', function () {
        var roomListElement = document.querySelector('.RoomList');
        roomListElement.style.opacity = '1';
        roomListElement.style.transform = 'translateY(0)';
    });
</script>
